speed/video01/video.mp4
speed/video_annotated.mp4
# Archivos pesados de speed_anycalib_bbox (videos y modelos)
speed_anycalib_bbox/data/processed/video3/yolo_track_video3/video3_raw.avi
speed_anycalib_bbox/data/raw/video3/video3_raw.mp4
speed_anycalib_bbox/data/raw/video4/video4_raw.mp4
speed_anycalib_bbox/data/processed/video4/yolo_track_video4/video4_raw.avi
speed_anycalib_bbox/data/processed/video2/yolo_track_video2/video2_raw.avi
speed_anycalib_bbox/data/raw/video2/video2_raw.mp4
speed_anycalib_bbox/data/processed/video1/yolo_track_video1/video1_raw.avi
speed_anycalib_bbox/data/raw/video1/video1_raw.mp4


# Archivos pesados de speed_anycalib_prior (videos y modelos)
speed_anycalib_prior/data/processed/video3/yolo_track_video3/video3_raw.avi
speed_anycalib_prior/data/raw/video3/video3_raw.mp4
speed_anycalib_prior/data/raw/video4/video4_raw.mp4
speed_anycalib_prior/data/processed/video4/yolo_track_video4/video4_raw.avi
speed_anycalib_prior/data/processed/video2/yolo_track_video2/video2_raw.avi
speed_anycalib_prior/data/raw/video2/video2_raw.mp4
speed_anycalib_prior/data/processed/video1/yolo_track_video1/video1_raw.avi
speed_anycalib_prior/data/raw/video1/video1_raw.mp4
AnyCalib/
vtg_env/
speed/video_annotated.mp4
speed/vehicle_tracks_yolo.csv

# Artefactos generados y de sistema
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
